<nav>
  <ul>
    <li><strong><%= link_to "Ploughing!", home_index_path, class: "navbar-title" %></strong></li>
  </ul>
  <ul>
    <li><%= link_to "History", home_history_path, class: "navbar-link" %></li>
    <li><%= link_to "About", home_about_path, class: "navbar-link" %></li>
  </ul>
</nav>
